.Greeting {
	padding-top: 180px;
	padding-bottom: 200px;
	text-align: center;
	background: url("../../assets/img/greeting-bg-png.png") center/cover no-repeat;
}

.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 58px;
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
}

.divider {
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: center;

	&Left {
		background: #ffffff;
		width: 60px;
		height: 1px;
		margin-right: 25px;
	}
	&Right {
		background: #ffffff;
		width: 60px;
		height: 1px;
		margin-left: 25px;
	}
}

.subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	color: #ffffff;
	margin-bottom: 18px;
}

.btn {
	cursor: pointer;
	width: 120px;
	height: 30px;
	background: transparent;
	border: 1px solid #ffffff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 3px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
}
