.forYourPleasure {
	&About {
		padding-top: 50px;
		padding-bottom: 40px;
		max-width: 760px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: "600px") {
			flex-direction: column;
		}

		&Text {
			text-align: center;
		}

		&Title {
			font-size: 24px;
			line-height: 35px;
			color: #000000;
			margin-bottom: 20px;
		}

		&Divider {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 25px;

			&Left {
				background: #000;
				width: 60px;
				height: 1px;
				margin-right: 25px;
			}
			&Right {
				background: #000;
				width: 60px;
				height: 1px;
				margin-left: 25px;
			}
		}

		&Subtitle {
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			color: #000000;
		}
	}

	&Hr {
		width: 240px;
		height: 1px;
		background: #000;
		margin: 0 auto;
	}
}

.header {
	background: url("../../assets/img/for-your-pleasure-bg.png") center/cover no-repeat;
	text-align: center;
	padding: 130px 0 84px 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 58px;
	color: #ffffff;
}
